body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1.display-1 {
    color: red;
    font-weight: 400;
}

.todo-container {
    background: white;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

input.form-control {
    border-bottom: 2px solid #ededed !important;
}

input::placeholder {
    font-style: italic;
    font-weight: 300;
    color: #e6e6e6;
}

input:focus {
    box-shadow: none !important;
    outline: none;
}

.task-item {
    border-bottom: 1px solid #ededed;
    color: #4d4d4d;
}

.delete-icon {
    display: none; 
    cursor: pointer;
    font-size: 20px;
    color: #cc9a9a;
    transition: color 0.2s ease;
}

.delete-icon:hover {
    color: #af2f2f;
}

.task-item:hover .delete-icon {
    display: block;
}

.list-group-item:last-child {
    color: #777;
    padding: 10px 15px;
    height: 40px;
    text-align: left;
    border-top: 1px solid #e6e6e6;
}